# Don't track content of these folders
CMakeFiles/
stats/*


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
bwr_router
CMakeCache.txt
Makefile
cmake_install.cmake

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
